@import url(http://fonts.googleapis.com/css?family=Sintony);
@import 'http://madeinthehague.urbanlink.nl/embed/icomoon/style.css';
#madeinthehague{
  font-family:'Sintony',sans-serif;
}
#madeinthehague .banner a{
  font-size:1.5em;
  vertical-align:middle;
  text-decoration:none;
  color:#444;
}
